# github key
GITHUB_KEY = ''
# upstash token
UPSTASH_REDIS_REST_TOKEN = ''
# upstash request url
UPSTASH_REDIS_REST_URL = ''
# clerk secret key
CLERK_SECRET_KEY = ''
# neon databse url
DATABASE_URL = ''

# sanity params
# clerk publishable key
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY = ''

# 线上地址
NEXT_PUBLIC_SITE_URL = ""


BETTER_AUTH_SECRET = ""
BETTER_AUTH_URL = ""


GITHUB_CLIENT_ID = ""
GITHUB_CLIENT_SECRET = ""
