# github key
GITHUB_KEY = ''
# upstash token
UPSTASH_TOKEN = ''
# upstash request url
UPSTASH_URL = ''
# clerk secret key
CLERK_SECRET_KEY = ''
# neon databse url
DATABASE_URL = ''

# sanity params
NEXT_PUBLIC_SANITY_PROJECT_ID = ''
NEXT_PUBLIC_SANITY_DATASET = ''
NEXT_PUBLIC_SANITY_API_VERSION = ''

# clerk publishable key
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY = ''
