@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #c0e5f3;
}

.shiki {
  @apply bg-[#f9f9f9] dark:bg-[#18181b] p-2 rounded-md shadow my-1;
}

.shiki .line > span {
  @apply text-[var(--shiki-light)] dark:text-[var(--shiki-dark)];
}
* {
  @apply selection:bg-[#c0e5f3];
}

.is-empty::before {
  color: #ddd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
