@import 'tailwindcss';

@theme {
  --color-primary: var(--primary);
  --color-primary-deep: var(--primary-deep);
  --color-primary-fade: var(--primary-fade);
  --color-spotlight: var(--spotlight);

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --primary-fade: #e4f3fa;
  --primary-deep: #8fd3ea;
  --primary: #c0e5f3;
}

* {
  @apply selection:bg-[#c0e5f3];
}
