@import "tailwindcss";
@import "tw-animate-css";
@import "../styles/variables.css";
@import "../styles/keyframe-animations.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
:root {
  --background: oklch(0.98 0.005 48.998);
  --foreground: oklch(0.5 0.0978 48.998);
  --card: oklch(0.96 0.01 48.998);
  --card-foreground: oklch(0.5 0.0978 48.998);
  --popover: oklch(0.96 0.01 48.998);
  --popover-foreground: oklch(0.5 0.0978 48.998);
  --primary: oklch(0.555 0.163 48.998);
  --primary-foreground: oklch(0.98 0.0489 48.998);
  --secondary: oklch(0.92 0.0163 48.998);
  --secondary-foreground: oklch(0.5 0.0978 48.998);
  --muted: oklch(0.92 0.0163 48.998);
  --muted-foreground: oklch(0.5 0.0489 48.998);
  --accent: oklch(0.92 0.0163 48.998);
  --accent-foreground: oklch(0.5 0.0978 48.998);
  --destructive: oklch(0.5 0.15 78.998);
  --destructive-foreground: oklch(0.02 0.0978 48.998);
  --border: oklch(0.9 0.0098 48.998);
  --input: oklch(0.9 0.0098 48.998);
  --ring: oklch(0.7 0.0489 48.998);
  --chart-1: oklch(0.805 0.0244 48.998);
  --chart-2: oklch(0.68 0.0937 48.998);
  --chart-3: oklch(0.555 0.163 48.998);
  --chart-4: oklch(0.38 0.2037 48.998);
  --chart-5: oklch(0.205 0.2445 48.998);
  --sidebar: oklch(0.98 0.005 48.998);
  --sidebar-foreground: oklch(0.5 0.0978 48.998);
  --sidebar-primary: oklch(0.555 0.163 48.998);
  --sidebar-primary-foreground: oklch(0.02 0.0978 48.998);
  --sidebar-accent: oklch(0.92 0.0163 48.998);
  --sidebar-accent-foreground: oklch(0.5 0.0978 48.998);
  --sidebar-border: oklch(0.9 0.0098 48.998);
  --sidebar-ring: oklch(0.7 0.0489 48.998);
  --header: oklch(0.98 0.005 48.998);
  --header-foreground: oklch(0.5 0.0978 48.998);
  --footer: oklch(0.98 0.005 48.998);
  --footer-foreground: oklch(0.5 0.0978 48.998);
  --code: oklch(0.98 0.005 48.998);
  --code-foreground: oklch(0.5 0.0978 48.998);
  --code-highlight: oklch(0.755 0.01 48.998);
  --code-number: oklch(0.655 0.0326 48.998);
  --code-selection: oklch(0.96 0.01 48.998);
  --code-border: oklch(0.9 0.0098 48.998);
  --radius: 1rem;
}
.dark {
  --background: oklch(0.18 0.0056 45.904);
  --foreground: oklch(0.85 0.01 45.904);
  --card: oklch(0.23 0.01 45.904);
  --card-foreground: oklch(0.85 0.01 45.904);
  --popover: oklch(0.23 0.01 45.904);
  --popover-foreground: oklch(0.85 0.01 45.904);
  --primary: oklch(0.414 0.112 45.904);
  --primary-foreground: oklch(0.98 0.0336 45.904);
  --secondary: oklch(0.28 0.0168 45.904);
  --secondary-foreground: oklch(0.85 0.01 45.904);
  --muted: oklch(0.28 0.0168 45.904);
  --muted-foreground: oklch(0.85 0.0224 45.904);
  --accent: oklch(0.28 0.0168 45.904);
  --accent-foreground: oklch(0.85 0.01 45.904);
  --destructive: oklch(0.3 0.15 75.904);
  --destructive-foreground: oklch(0.85 0.01 45.904);
  --border: oklch(0.26 0.008 45.904);
  --input: oklch(0.26 0.008 45.904);
  --ring: oklch(0.464 0.0448 45.904);
  --chart-1: oklch(0.89153 0.03360 45.90);
  --chart-2: oklch(0.666 0.179 58.318);
  --chart-3: oklch(0.414 0.112 45.904);
  --chart-4: oklch(0.282 0.14 45.904);
  --chart-5: oklch(0.18455 0.16800 45.90);
  --sidebar: oklch(0.23 0.01 45.904);
  --sidebar-foreground: oklch(0.85 0.01 45.904);
  --sidebar-primary: oklch(0.414 0.112 45.904);
  --sidebar-primary-foreground: oklch(0.85 0.01 45.904);
  --sidebar-accent: oklch(0.28 0.0168 45.904);
  --sidebar-accent-foreground: oklch(0.85 0.01 45.904);
  --sidebar-border: oklch(0.26 0.008 45.904);
  --sidebar-ring: oklch(0.464 0.0448 45.904);
  --header: oklch(0.18 0.0056 45.904);
  --header-foreground: oklch(0.85 0.01 45.904);
  --footer: oklch(0.18 0.0056 45.904);
  --footer-foreground: oklch(0.85 0.01 45.904);
  --code: oklch(0.23 0.01 45.904);
  --code-foreground: oklch(0.85 0.01 45.904);
  --code-highlight: oklch(0.214 0.01 45.904);
  --code-number: oklch(0.314 0.0168 45.904);
  --code-selection: oklch(0.18 0.0056 45.904);
  --code-border: oklch(0.26 0.008 45.904);
  --radius: 1rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  @apply selection:bg-secondary!;
}

/* custom notion render style */
.notion-collection-card {
  @apply shadow-xs! border! border-gray-200! rounded-xl! cursor-default!;
}

.notion-gallery-grid {
  @apply pt-0! border-t-0!;
}

.notion-page-title > .notion-page-icon-inline.notion-page-icon-image {
  @apply hidden;
}

.notion-page-cover-wrapper > img.notion-page-cover {
  @apply object-cover shadow-xl ring ring-gray-200 rounded-xl h-auto! max-h-[unset]!;
}

.notion-page-cover-wrapper {
  height: auto !important;
  max-height: unset !important;
}

.notion-page-content-inner {
  @apply leading-loose;
}
.notion-text {
  @apply mt-1!;
}

.notion-collection-card-cover {
  height: unset !important;
  aspect-ratio: 16/9;
}
.notion-collection-card-cover > img {
  aspect-ratio: 16/9;
}
