@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply selection:bg-blue-300/50 selection:text-blue-600;
}

article {
	@apply space-y-4 text-gray-700;
}


.sky-blur {
	@apply relative after:block after:blur-2xl after:-z-10 z-0 after:scale-125 after:absolute after:top-0 after:left-24 after:whitespace-nowrap  after:bg-clip-text after:bg-gradient-to-tr after:from-lime-600 after:via-blue-400/80 after:to-sky-300;
}

.sky-blur::after {
  user-select: none;
  pointer-events: none;
  font-weight: bold;
	content: '一片天空';
}
